extends base

block content
    form
        input(type="email", name="email" placeholder="email")
        input(type="password", name="password" placeholder="password")
        button(type="submit") Login